
TimeStamp/TimeStamp.xcodeproj/project.xcworkspace/xcuserdata/tawan.xcuserdatad/UserInterfaceState.xcuserstate

TimeStamp/TimeStamp.xcodeproj/xcuserdata/tawan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

TimeStamp/.DS_Store

.DS_Store
